
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.header {
display: flex;
justify-content: center;
}

.header-menu {
	display: inline-flex;
	justify-content: space-between;
	width: 760px;
				& li{
				font-weight: bold;
				font-size: 18px;
				letter-spacing: 2.7px;
				text-transform: uppercase;
				padding: 15px 0;
				list-style: none;
				border-bottom: 3px solid transparent;
					& a {
						text-decoration: none;
						color:#FF0000;
						padding: 5px;
						&:hover {
							border-bottom: 3px solid #FF0000;
							transition: all .2s ease;
						}
		}
	}
}

.container {
	max-width: 1200px;
	margin:0 auto;
}
.content-img {
	& img {
		width: 1200px;
		margin-bottom: 49px;
	}
}
.content-inner {
	text-align: center;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
color: #373737;
}
.content-inner-title {
	text-transform: uppercase;
	letter-spacing: 3.3px;
	line-height: 27px;
	margin-bottom: 38px;
}
.content-inner-text {
	& p{
		margin-bottom: 28px;
	}
	& p:last-child {
		margin-bottom: 66px;
	}
}

.content-btn {
	display: flex;
	justify-content: center;
	width: 191px;
	height: 51px;
	background: #FF0000;
	border-radius: 4px;
	align-items:center;
	margin:0 auto;
	margin-bottom: 82px;
	transition: all .3s linear;
	
	&:hover {
		transform: scale(1.1);
		background-color: #298a0c;
		box-shadow: 0 0 15px 10px rgba(21, 56, 6, 0.2);
		& a {
			color: black;
		}
		
	}
				& a{
			font-weight: bold;
			font-size: 12px;
			letter-spacing: 1.8px;
			text-transform: uppercase;
			text-decoration: none;
			color: #FFFFFF;
			transition: all .3s linear;
			
		}
				}

.footer-text {
	display: flex;
	justify-content: right;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: #373737;
}