@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*для удобной верстки  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
a:focus, a:active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
nav, footer, header, aside {
  display: block;
}

/*Делает их блочными*/
html, body {
  /*уравнивает поведение шрифтов и элементов для разных браузеров (запрещает самовольное увеличение шрифта на айфоне -как пример )*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*Просим наследовать симейсто шрифта */
input::-ms-clear {
  display: none;
}

/*убирает крестик... в интернет эксп */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
a:hover {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
ul li {
  list-style: none;
}

/* чистим стили для маркерованых списков */
img {
  vertical-align: top;
}

/* чистим стили для маркерованых списков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуляем все наши заголовки h1-...h6 */
/*--------------------------------------------------------------------------------------------------*/
body {
  color: #FFFFFF;
  font-family: "Ubuntu";
  font-size: 14px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/BG/bg1.png") no-repeat;
  background-size: cover;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1262px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*--------------------------------------------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#hd1, #hd2, #hd3 {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header:hover {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.57;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__logo h2:hover {
  color: #01813F;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__menu {
  width: 350px;
}

.header__menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-inner__item {
  position: relative;
}

.menu-inner__item a svg:hover #hd1,
.menu-inner__item a svg:hover #hd2,
.menu-inner__item a svg:hover #hd3 {
  fill: #01813F;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-inner__item:nth-child(-n+3) {
  padding-right: 26px;
}

.menu-inner__item a:hover {
  color: #01813F;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-inner__item:nth-child(3)::after {
  content: "";
  display: block;
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 1;
}

.menu-inner__item:nth-child(4) {
  padding: 0 4px 0 24px;
}

.account {
  max-width: 445px;
  min-height: 585px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 55px;
  position: relative;
}

.account__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 13px 8px;
  padding: 31px 0 34px 0;
}

.account__items-title h3 {
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.account__items-link {
  text-align: end;
  padding-top: 5px;
}

.account__items-link a {
  color: #3CB878;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.account__items-link a:hover {
  text-decoration: underline;
  color: #01813F;
}

.account__items-button1 {
  background: #305DB8;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.account__items-button1:hover {
  background-color: #022263;
}

.account__items-button1 span {
  padding-left: 18px;
  font-size: 16px;
  line-height: 16px;
}

.account__items-button2 {
  background: #DF4A32;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.account__items-button2:hover {
  background-color: #AB1F09;
}

.account__items-button2 span {
  padding-left: 30px;
  font-size: 16px;
  line-height: 16px;
}

.account .btn {
  height: 48px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 27px 0 12px;
  position: relative;
}

.account .btn span {
  color: #fff;
}

.account .btn span::after {
  content: "";
  display: block;
  background: #2B0D09;
  mix-blend-mode: normal;
  opacity: 0.1;
  top: 10px;
  width: 1px;
  height: 28px;
  position: absolute;
}

.account-container {
  width: 325px;
  margin: 0 auto;
}

.account-container::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  background: #3CB878;
  position: absolute;
}

.account-slash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.account-slash::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #F2F2F2;
  top: 8px;
  position: absolute;
}

.account-slash h4 {
  color: #848484;
  background-color: #fff;
  position: absolute;
  padding: 0 5px 0 5px;
}

.account-registration__field {
  width: 325px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  color: #434343;
  font-size: 14px;
  line-height: 14px;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 16px;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.account-registration__field::-webkit-input-placeholder {
  color: #BEBEBE;
}

.account-registration__field:-ms-input-placeholder {
  color: #BEBEBE;
}

.account-registration__field::-ms-input-placeholder {
  color: #BEBEBE;
}

.account-registration__field::placeholder {
  color: #BEBEBE;
}

.account-registration__field:focus {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.account-registration__rules-text {
  padding-left: 5px;
}

.account-registration__rules {
  width: 324px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.account-registration__rules .custom-checkbox {
  display: none;
}

.account-registration__rules .custom-checkbox:checked + .fake::before {
  opacity: 1;
}

.account-registration__rules .fake {
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  position: relative;
}

.account-registration__rules .fake::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.account-registration__rules a {
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
}

.account-registration__rules a:hover {
  color: #01813F;
  text-decoration: underline;
}

.account-registration__btn {
  width: 324px;
  height: 46px;
  margin: 20px 0 38px 0;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.account-registration__btn:hover {
  background: #01813F;
}
