@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*для удобной верстки  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
a:focus, a:active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
nav, footer, header, aside {
  display: block;
}

/*Делает их блочными*/
html, body {
  /*уравнивает поведение шрифтов и элементов для разных браузеров (запрещает самовольное увеличение шрифта на айфоне -как пример )*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*Просим наследовать симейсто шрифта */
input::-ms-clear {
  display: none;
}

/*убирает крестик... в интернет эксп */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
a:hover {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
ul li {
  list-style: none;
}

/* чистим стили для маркерованых списков */
img {
  vertical-align: top;
}

/* чистим стили для маркерованых списков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуляем все наши заголовки h1-...h6 */
/*--------------------------------------------------------------------------------------------------*/
body {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/bg/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1042px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*--------------------------------------------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
a {
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 17px;
}

.header__logo {
  width: 150px;
  height: 51px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: end;
  position: relative;
}

.header__logo a {
  padding-right: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__logo::before {
  content: "";
  background-image: url("../img/logos/logo1.png");
  display: block;
  width: 53px;
  height: 47px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__logo:hover::before {
  content: "";
  background-image: url("../img/logos/logo1-orange.png");
  display: block;
  width: 53px;
  height: 47px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.header__logo:hover a {
  color: #F26522;
}

.header__logo span {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}

.header__contacts {
  text-align: end;
}

.header__contacts-tel:hover a {
  color: #F26522;
}

.header__contacts-mail {
  margin-bottom: 19px;
  line-height: 18px;
}

.header__contacts-mail:hover a {
  color: #F26522;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-item {
  margin-bottom: 37px;
  position: relative;
}

.flex-item:hover > div {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.flex-item:hover > div h3 {
  color: #F26522;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.flex-item__img img {
  height: 222px;
  width: 300px;
}

.flex-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 55px;
  left: 0;
  bottom: 40px;
  background: #F26522;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.flex-item__box-text {
  padding: 7px 16px 12px;
  font-size: 20px;
  line-height: 20px;
}

.flex-item__box-text p:first-child {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 8px;
}

.flex-item__box-link {
  padding: 29px 37px 12px 0;
  position: relative;
}

.flex-item__box-link a {
  padding-right: 3px;
  color: #ffffff;
}

.flex-item__box-link::after {
  content: "";
  background-image: url("../img/icons/icon1.svg");
  background-repeat: no-repeat;
  display: block;
  width: 8px;
  height: 12px;
  right: 16px;
  bottom: 14px;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.flex-item__title h3 {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center;
  padding-top: 20px;
}

.footer {
  text-align: center;
  padding: 15px;
  padding-top: 11px;
}

.footer__copyright p {
  font-size: 12px;
  line-height: 12px;
}
