/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
 }
 
 *,*:before,*:after{/*для удобной верстки  */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 
 :focus,:active{outline: none;}/*убираем линии обводки у некоторых браузеров */
 a:focus,a:active{outline: none;}/*убираем линии обводки у некоторых браузеров */
 
 nav,footer,header,aside{display: block;}/*Делает их блочными*/
 
 html,body{/*уравнивает поведение шрифтов и элементов для разных браузеров (запрещает самовольное увеличение шрифта на айфоне -как пример )*/
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 
 input,button,textarea{font-family: inherit;}/*Просим наследовать симейсто шрифта */
 
 input::-ms-clear {display: none;}/*убирает крестик... в интернет эксп */
 button {cursor: pointer;}
 button::-moz-focus-inner {padding: 0;border: 0;}
 a, a:visited {text-decoration: none;}/* чистим стили для маркерованых списков */
 a:hover {text-decoration: none;}/* чистим стили для маркерованых списков */
 ul li {list-style: none;}/* чистим стили для маркерованых списков */
 img {vertical-align: top;}/* чистим стили для маркерованых списков */
 
 h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}  /* обнуляем все наши заголовки h1-...h6 */
 /*--------------------------------------------------------------------------------------------------*/
