@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*для удобной верстки  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
a:focus, a:active {
  outline: none;
}

/*убираем линии обводки у некоторых браузеров */
nav, footer, header, aside {
  display: block;
}

/*Делает их блочными*/
html, body {
  /*уравнивает поведение шрифтов и элементов для разных браузеров (запрещает самовольное увеличение шрифта на айфоне -как пример )*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*Просим наследовать симейсто шрифта */
input::-ms-clear {
  display: none;
}

/*убирает крестик... в интернет эксп */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
a:hover {
  text-decoration: none;
}

/* чистим стили для маркерованых списков */
ul li {
  list-style: none;
}

/* чистим стили для маркерованых списков */
img {
  vertical-align: top;
}

/* чистим стили для маркерованых списков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуляем все наши заголовки h1-...h6 */
/*--------------------------------------------------------------------------------------------------*/
body {
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1292px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*--------------------------------------------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
.header {
  margin-top: 20px;
}

.header__inner {
  margin-bottom: 48px;
}

.header__logo {
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 38px;
}

.header__logo a {
  color: black;
}

.header__logo a span {
  color: #4BCAFF;
}

.header__menu {
  color: #FFFFFF;
  background-color: #35444F;
  font-size: 24px;
  line-height: 28px;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-link li {
  padding: 20px 35px;
}

.header__menu-link li:hover {
  background: #222F3A;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.aside {
  width: 344px;
}

.aside__menu {
  border: 1px solid black;
}

.aside__menu-link li {
  padding: 0 20px 0 44px;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aside__menu-link li:hover {
  background: #DBDBDB;
  color: #000000;
  cursor: pointer;
}

.aside__menu-link li p {
  padding: 26px 0 26px 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.aside__menu-link li p:hover {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
  padding-left: 15px;
}

.section {
  width: 885px;
}

.section__img {
  border: 1px solid black;
  text-align: center;
  padding: 75px 0;
  margin-bottom: 37px;
}

.section__img img {
  -webkit-transition: 1s;
  transition: 1s;
}

.section__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.section__text p {
  margin-bottom: 34px;
  line-height: 24px;
  color: #2C2C2C;
}

.section__text p:last-child {
  margin-bottom: 54px;
}

.footer {
  margin-bottom: 10px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(99, 105, 110, 0.48);
}

.footer__info-menu {
  font-size: 28px;
  color: #0C1927;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 28px;
}

.footer__info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__info-link li {
  margin: 10px 10px;
  padding: 10px 5px;
  border-bottom: 2px solid transparent;
}

.footer__info-link li:first-child {
  margin-left: 25px;
}

.footer__info-link li:hover {
  color: #3181A6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #3181A6;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__info-copyright {
  margin: 0 25px 0 15px;
  padding: 10px 5px 10px;
}
